telegram-ai-bot-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        -48
      ],
      "id": "6415101b-4276-4bf8-8566-41de7e1a7e14",
      "name": "Telegram Trigger",
      "webhookId": "78879d92-fb02-45a6-97c4-f190ce891135",
      "credentials": {
        "telegramApi": {
          "id": "NPmKHCjpnUxyql7X",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful and friendly AI assistant on Telegram.\n\nAnswer the user's questions clearly and concisely.\nIf you don't know something, say so instead of making up information.\nKeep responses conversational and easy to understand.\n\nUser message:\n{{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -112,
        -48
      ],
      "id": "80cf4726-eb60-43ea-97f2-c6d1e351310f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -144,
        208
      ],
      "id": "3fd2a48b-6d7c-42c2-9fb5-a4bfc9ef3cfd",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "LvcdIP6Vkw5NB5M1",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        0
      ],
      "id": "74398824-f4f6-4fec-ac3c-7dd2f03374bb",
      "name": "Send a text message",
      "webhookId": "7f87f296-a17e-44a3-9a82-eadfbd429acd",
      "credentials": {
        "telegramApi": {
          "id": "NPmKHCjpnUxyql7X",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1234",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -16,
        208
      ],
      "id": "46043933-1608-42b5-b0fd-4b2c13808784",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 0
  },
  "versionId": "94aa1edf-0b2a-4226-986c-7e070102f0ba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb8b0e30980a7420aa974ec9d4fa436ca58f50942efe89e3ef666d36c8335e8e"
  },
  "nodeGroups": [],
  "id": "dSKxztWGrNXYX2QY",
  "tags": []
}
